{
  "plugins": [
    "@babel/plugin-syntax-jsx"
  ],
  "env": {
    "extract": {
      "presets": [
        "linaria/babel"
      ]
    },
    "styledJsx": {
      "plugins": [
        ["styled-jsx/babel", { "optimizeForSpeed": true }]
      ]
    }
  }
}
